#alphabets-container{


#abcd
{
	border-style:solid;
	border-width:2px;
	width: 1325px;
	height:500px;
	background-color:beige;
}

#efgh
{
	border-style:solid;
	border-width:2px;
	width: 1325px;
	height:500px;
	background-color:aquamarine;
}

#ijkl
{
	border-style:solid;
	border-width:2px;
	width: 1325px;
	height:500px;
	background-color:cornsilk;
}

#mnop
{
	border-style:solid;
	border-width:2px;
	width: 1325px;
	height:500px;
	background-color:lawngreen;
}

#qrst
{
	border-style:solid;
	border-width:2px;
	width: 1325px;
	height:500px;
	background-color:khaki;
}

#uvwx
{
	border-style:solid;
	border-width:2px;
	width: 1325px;
	height:500px;
	background-color:lightblue;
}

#yz
{
		border-style:solid;
	border-width:2px;
	width: 1325px;
	height:500px;
	background-color:LightSeaGreen ;
}
}